/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #444;
    color: white;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

section {
    max-width: 800px;
    margin: 2em auto;
    padding: 1em;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h2 {
    font-size: 24px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0.5em;
}

/* Add more styles as needed for specific elements or classes in your Thymeleaf templates */
